<footer>
    <div class="footer-text">&copy;2021 CryptoKurdi | Developed by <a href="https://www.linkedin.com/in/diween-awny-b68239150/" target="_blank">Diween Awny</a></div>
</footer>
    <script src="/js/js.js">
    </script>

</body>
</html>