<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/939cc7d7cd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700&display=swap" rel="stylesheet">

    <title>CryptoKurdi</title>

</head>
<body>

    <div class="intro">
        <div class="nav">
            <div class="toggle">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <div class="nav-two">
                <li class="items">
                    <a href="/form" class="items-link">پەیوەندی</a>
                </li>
                <li class="items">
                    <a href="/about" class="items-link">دەربارەی من</a>
                </li>
                <li class="items items-drop">
                    <button class="dropbtn">
                        <i class="fa fa-caret-down"></i>بابەتەکان
                    </button>
                    <div class="dropdown-content">
                        <a href="/projects">پڕۆژەکان</a>
                        <a href="/blockchain">بلۆکچەین</a>
                        <a href="/start">دەستپێ کردن</a>
                      </div>                  
                </li>
                <li class="items">
                    <a href="/" class="items-link">سەرەتا</a>
                </li>
            </div>
            <div class="nav-one">
                <li class="items">
                    <a href="/" class="items-link-king">کریپتۆکوردی</a>
                </li>
            </div>
        </div>
        </div>
        