<%- include('partials/head') %> 
</div>

<div class="about-box">
    <div class="about-img">
        <img src="uploads/webpp.jpg" alt="" style="height: 100%; width: 100%;">
    </div>
    <div class="about-text">
        <p class="text-name">کریپتۆ کوردی</p>
        <p class="text-desc"></p>
    </div>
</div>

<div class="about-intro">
    <p class="intro-text">
        سڵاو، لەم ماڵپەرە دەتوانن هەموو جۆرە زانیارییەک لەبارەی دراوە دیجیتاڵییەکان
         بزانن، وەک (بلۆکچەین، ناساندنی پڕۆژەی دراوی دیجیتاڵیەکان، هەواڵە نوێیەکان، شیکاری) و چەندەها 
         شتی تر. هەموو بابەتاکنمان بە زمانی کوردی بەردەستن و دەتوانن لە ڕیگەی پەیوەندی کردن هەر پرسیارێکتان
         هەیە بینێرن. خۆم بە خۆشحال دەزانم کە وەک هەر تاکێکی کۆمەڵگا خمزەت بە خەڵکی وڵاتەکەم بگەینم
    </p>
</div>
<%- include('partials/foot') %> 
