<%- include("partials/head") %> 

<form action="/login" method="POST">
    <div class="form-group-login">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
    </div>
    <div class="form-group-login">
        <label for="pass">Password</label>
        <input type="password" name="password" id="pass">    
    </div>
    <button type="submit" class="btn-form-login">LOG IN</button>
</form>

<%- include("partials/foot") %> 
