<%- include("partials/head") %> 

<form action="/register" method="POST">

<label for="email">Email</label>
<input type="email" id="email" name="email">

<label for="pass">Password</label>
<input type="password" name="password" id="pass">

<label for="auth">name</label>
<input type="text" name="auth" id="auth">


<button type="submit">Register</button>

</form>

<%- include("partials/foot") %> 
